/***********************
     CUSTOM STYLE
***********************/

.newlands-bg {
    background: #CDA349 !important;
}

.b-none {
    border:none !important;
}

.s-none {
    box-shadow: none !important;
}

.mustart {
	color: #CDA349;
}

.noborder {
    border-left:none !important;
    border-right:none !important;
}

.row.border-devider {
    border-top:1px solid #A9E2F3;
    margin-top:20px;
}

.row.devider {
    margin-top:20px;
}

.row.devider-btm {
    margin-top:30px;
    margin-bottom:30px;
}

.img_h {
    height: 174px !important;
}

h2.heading.admin {
    font-weight: normal !important;
    background: #000 !important;
    color: #fff !important;
    padding: 10px;
    margin-bottom: 0 !important;
    text-align: center;
}

h2.heading.welcome {
    font-weight: normal !important;
    background: #000 !important;
    color: #fff !important;
    padding: 10px;
    margin-bottom: 10 !important;
}

p#admin {
    padding:10px;
    background: #f6f6f6;
    text-align: left;
}

p#admin-center {
    padding:10px;
    background: #f6f6f6;
    text-align: center;
}

#signup:hover, #login:hover {
    background: #000 !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

/*
   Welcome Page
*/

.welcome-img {
    height:174px;
}

#welcome_cont {
    background: #f6f6f6;
    width: 99.5%;
    height: 167px;
    top:327px;
    position: relative;
    z-index: 0;
    opacity: 0.9
}

#image_slide_text {
    width: 500px;
}

.HD-heading {
    width: 100%;
    text-align: center;
    margin-top:10px !important;
    font-weight: normal !important;
    padding:5px;
    margin-bottom: 0;
}

.HD-heading-background {
    width: 100%;
    background: #A9E2F3;
    text-align: center;
    margin-top:2px;
    font-weight: normal !important;
    padding:5px !important;
    margin-bottom: 0 !important;
}

#img_slide_content {
    font-size: 14px;
}

.news_content {
    padding:20px;
    background: #f6f6f6;
    height: 444px;
}

.btm_content {
    padding:20px;
    background: #f6f6f6;
}


.item.topnav-left {
    padding-left: 0 !important;
}

.item.topnav-right {
    padding-right: 0 !important;
}

.item.topauth-left {
    padding-left: 0 !important;
    color: #fff !important;
}

.topauth-left a {
    color: #fff !important;
    margin-right: 10px;
}

.item.topauth-right {
    padding-right: 0 !important;
    color: #fff;
}

.large.hd.home.icon {
    margin-right: 15px !important;
}

.ui.footer.menu {
    margin-top:30px !important;
    background:#f6f6f6;
    border:none;
    box-shadow: none;
    margin-bottom: 0;
}

.kp_img_title {
    width:100%;
    padding:10px;
    font-weight:normal;
    text-align: center;
}

.kp_img_cont {
    background: #F2F2F2;
    width: 100%;
    height: 40px;
    top:-40px;
    position: relative;
    z-index: 0;
    opacity: 0.9;
}

/* Modal Style */

.form-left {
    text-align: left !important;
}

.header.mod {
    text-align: center;
}

.mod.button {
    background: #A9E2F3 !important;
    color:#000 !important;
}

.btn-color {
    background: #A9E2F3 !important;
    color:#000 !important;
}

input[type=file] {
    display:block;
    height:0;
    width:0;
}

.ui.menu .item>img:not(.ui) {
    width: 8.5em !important;
}

.tel {
    margin-left: 60px;
    color: #482E1F;
}

.home-link {
    color: #fff !important;
    margin-right: 0 !important;
    padding-right: 10px;
    background: #482E1F !important;
}

.logout-link {
    color: #000 !important;
    margin-right: 0 !important;
    padding-right: 10px;
    background: #fff !important;
}

.home-link:hover {
    text-decoration: underline !important;
}

.logout-link:hover {
    text-decoration: underline !important;
}

#rating {
    float:right;
    position: relative;
    top: -32px;
    left: -7px;
    display:none;
}

#dup-email {
    float:right;
    position: relative;
    top: -30px;
    left: -7px;
    display:none;
    color: #D95C5C;
}
