.breaker {
    width: 1px;
    height: 40px;
}

.breaker-10 {
    height: 10px;
}

.breaker-20 {
    height: 20px;
}

.breaker-30 {
    height: 30px;
}

.breaker-40 {
    height: 40px;
}

.breaker-50 {
    height: 50px;
}

.breaker-60 {
    height: 60px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.greyborder {
    border: 1px solid rgba(34,36,38,.15) !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.ptop-10 {
    padding-top: 10px;
}
